<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Permissions-Policy" content="interest-cohort=()" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Bile">
  <meta name="apple-mobile-web-app-title" content="Bile">
  <meta name="theme-color" content="#3f8142">
  <meta name="msapplication-navbutton-color" content="#3f8142">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="My self-hosted git repositories">
  <title>{% block title %}{{config.site_name}}{% endblock %}</title>
  <link rel="manifest" href="manifest.json">
  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" type="text/css" href="/style.css" />
  {% block head %}{% endblock %}
</head>

<body>
  <div class="page-title">
    <h1><a href="/">{{config.site_name}}</a></h1>
  </div>
  <hr />
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  <hr />
  <div class="footer">running <a href="https://git.wayver.dev/bile">bile</a> v{{ crate::META_PACKAGE_VERSION }}</div>
</body>

</html>