{% extends "base.html" %}

{% block title %}{{repo|repo_name}} refs - {{config.site_name}}{% endblock %}

{% block head %}
<link rel="alternate" type="application/rss+xml" title="{{repo|repo_name}} tags" href="refs.xml">
{% endblock %}

{% block content %}
  {% include "repo-navbar.html" %}
  <table>
    <tbody>
      <tr>
        <td><h3>Branches</h3></td>
      </tr>
      {% for branch in branches %}
        <tr>
          <td class="git-reference">
            <a href="/{{repo|repo_name|urlencode_strict}}/log/{{branch.shorthand().unwrap()}}">{{ branch.shorthand().unwrap()
              }}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <table>
    <tbody>
      <tr>
        <td><h3>Tags</h3></td>
        <td><a href="/{{repo|repo_name|urlencode_strict}}/refs.xml" class="feed">[rss]</a></td>
      </tr>
    </tbody>
  </table>
  <table>
    <tbody>
      {% for tag in tags %}
        <tr>
          <td class="git-reference">
            <a href="/{{repo|repo_name|urlencode_strict}}/{{tag.link}}">{{tag.tag}}</a>
          </td>
          <td>
            {{tag.signature|ref|signature_email_link|safe}}
          </td>
          <td>
            {{tag.signature.when()|format_datetime("%Y-%m-%d")}}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}